@import "variables";

* {
  box-sizing: border-box;
  font-family: $font-ABeeZee;
  color: $color-black;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;

}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container-main {
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: $violet-button;
}

.button:hover {
  background: $violet-hover;
}

