$font-ABeeZee: 'ABeeZee', sans-serif;
$color-black: #1d1c24;
$grey: #52575C;
$white: #ffff;
$violet-gradient: linear-gradient(250.46deg, #8468F5 72.09%, #EC74E7 352.57%);
$violet-color: rgb(132, 104, 245);
$violet-button: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
$transition2: 2s;
