* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
}

.container-main {
  margin: auto;
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
}

.button:hover {
  background: linear-gradient(118deg, #9982f3de 72.09%, #e58ee1de 352.57%);
}

* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
}

.container-main {
  margin: auto;
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
}

.button:hover {
  background: linear-gradient(118deg, #9982f3de 72.09%, #e58ee1de 352.57%);
}

.header {
  padding-top: 40px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-img {
  width: 140px;
}

.logo-img:hover {
  opacity: 0.5;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  padding: 0;
  margin: 0;
}

.nav-item {
  list-style: none;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.291667px;
}

.nav-item__link:hover {
  color: #8468f5;
}

.nav-item__link:after {
  content: "";
  display: block;
  width: 0;
  transition: 0.5s;
  border-bottom: 2px solid #8468f5;
}

.nav-item__link:hover:after {
  content: "";
  width: 100%;
}

.nav-item__link-sing-in {
  padding: 10px 30px;
  background: linear-gradient(250.46deg, #8468F5 72.09%, #EC74E7 352.57%);
  border-radius: 13px;
  color: #ffff;
}

.nav-item__link-sing-in:hover {
  background: linear-gradient(118deg, #9982f3de 72.09%, #e58ee1de 352.57%);
}

.hamburger {
  display: none;
  height: 30px;
}

.line-bottom, .line-middle, .line-top {
  height: 3px;
  width: 30px;
  background: #ffff;
}

.line-top {
  display: flex;
  transition: top 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.9s cubic-bezier(0.23, 1, 0.32, 1);
}

.line-middle {
  display: flex;
}

.line-bottom {
  display: flex;
  transition: bottom 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.9s cubic-bezier(0.23, 1, 0.32, 1);
}

* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
}

.container-main {
  margin: auto;
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
}

.button:hover {
  background: linear-gradient(118deg, #9982f3de 72.09%, #e58ee1de 352.57%);
}

.section-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 220px;
}

.title {
  font-size: calc(24px + 36 * (100vw / 1500));
  line-height: calc(24px + 36 * (100vw / 1500));
}
.title .title-violet {
  color: #8468f5;
}

.subtitle {
  margin-top: 50px;
  font-size: calc(10px + 10 * (100vw / 1500));
  line-height: calc(10px + 10 * (100vw / 1500));
  color: grey;
}

.form-main {
  position: relative;
  margin-top: 60px;
  width: 520px;
}

.input-mail {
  padding: 0 200px 0 30px;
  min-width: 100%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 30px;
  filter: drop-shadow(7px 11px 15px rgba(0, 0, 0, 0.15));
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #FFF inset;
}

.form-main__button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 30px 10px 30px;
}
.form-main__button a {
  color: #ffff;
}

.img-airplane {
  margin-left: 15px;
  width: 15px;
  height: 15px;
}

* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
}

.container-main {
  margin: auto;
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
}

.button:hover {
  background: linear-gradient(118deg, #9982f3de 72.09%, #e58ee1de 352.57%);
}

.footer {
  display: flex;
  justify-content: start;
  margin-top: 170px;
  padding-bottom: 60px;
}

.social-network {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.social-network__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(250.46deg, #8468F5 72.09%, #EC74E7 352.57%);
}

.social-network__icon:hover {
  background: linear-gradient(118deg, #9982f3de 72.09%, #e58ee1de 352.57%);
}

.icon-svg {
  width: 17px;
  height: 20px;
}

.icon-use {
  fill: #ffff;
}

* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
}

.container-main {
  margin: auto;
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
}

.button:hover {
  background: linear-gradient(118deg, #9982f3de 72.09%, #e58ee1de 352.57%);
}

.long-stick {
  position: absolute;
  z-index: -1;
}

.stick-one {
  top: 540px;
  left: 28vw;
  background-image: url("../img/bg-long-stick/long-stick-1.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  animation-name: stick-one;
  animation-duration: 35s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-one {
  0% {
    margin: 0;
  }
  40% {
    margin: -20vh;
  }
  100% {
    margin: 100vh;
  }
}
.stick-two {
  top: 590px;
  left: 38vw;
  background-image: url("../img/bg-long-stick/long-stick-2.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  animation-name: stick-two;
  animation-duration: 80s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-two {
  0% {
    top: 590px;
    left: 38vw;
  }
  40% {
    transform: translate3d(-25vw, -29vw, 0);
  }
  100% {
    transform: translate3d(25vw, 25vw, 0);
  }
}
.stick-three {
  top: 315px;
  left: -5vw;
  background-image: url("../img/bg-long-stick/long-stick-3.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  animation-name: stick-three;
  animation-duration: 35s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-three {
  0% {
    top: 315px;
    left: -5vw;
  }
  100% {
    transform: translate3d(20vw, 25vw, 0);
  }
}
.stick-four {
  top: 335px;
  left: -5vw;
  background-image: url("../img/bg-long-stick/long-stick-4.png");
  background-repeat: no-repeat;
  width: 220px;
  height: 200px;
  animation-name: stick-four;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-four {
  0% {
    top: 355px;
    left: -5vw;
  }
  100% {
    transform: translate3d(15vw, 25vw, 0);
  }
}
.stick-five {
  top: -2rem;
  left: 15vw;
  background-image: url("../img/bg-long-stick/long-stick-5.png");
  background-repeat: no-repeat;
  width: 250px;
  height: 355px;
  animation-name: stick-five;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-five {
  0% {
    top: -2rem;
    left: 15vw;
  }
  100% {
    transform: translate3d(-8vw, -11vw, 0);
  }
}
.stick-six {
  top: 510px;
  left: 23vw;
  background-image: url("../img/bg-long-stick/long-stick-6.png");
  background-repeat: no-repeat;
  width: 65px;
  height: 85px;
  animation-name: stick-six;
  animation-duration: 130s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-six {
  0% {
    margin: 0;
  }
  40% {
    margin: -35vh;
  }
  100% {
    margin: 100vh;
  }
}
.stick-seven {
  top: -5rem;
  right: 0;
  background-image: url("../img/bg-long-stick/long-stick-7.png");
  background-repeat: no-repeat;
  width: 250px;
  height: 335px;
  animation-name: stick-seven;
  animation-duration: 12s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-seven {
  0% {
    top: -5rem;
    right: 0;
  }
  100% {
    transform: translate3d(-4vw, -6vw, 0);
  }
}
.stick-eight {
  top: -2rem;
  right: 55vw;
  background-image: url("../img/bg-long-stick/long-stick-8.png");
  background-repeat: no-repeat;
  width: 130px;
  height: 160px;
  animation-name: stick-eight;
  animation-duration: 12s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-eight {
  0% {
    top: -2rem;
    right: 55vw;
  }
  100% {
    transform: translate3d(-1vw, -3vw, 0);
  }
}
.stick-nine {
  top: -9rem;
  left: 20vw;
  background-image: url("../img/bg-long-stick/long-stick-9.png");
  background-repeat: no-repeat;
  width: 190px;
  height: 260px;
  animation-name: stick-nine;
  animation-duration: 17s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-nine {
  0% {
    top: -9rem;
    left: 20vw;
  }
  100% {
    transform: translate3d(-3vw, -3vw, 0);
  }
}
.stick-ten {
  top: 10rem;
  right: 35vw;
  background-image: url("../img/bg-long-stick/long-stick-10.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
  animation-name: stick-ten;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-ten {
  0% {
    top: 10rem;
    right: 35vw;
  }
  100% {
    transform: translate3d(-6vw, -11vw, 0);
  }
}
.stick-eleven {
  top: 160px;
  left: 30px;
  background-image: url("../img/bg-long-stick/long-stick-11.png");
  background-repeat: no-repeat;
  width: 55px;
  height: 70px;
  animation-name: stick-eleven;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-eleven {
  0% {
    top: 10rem;
    right: 35vw;
  }
  100% {
    transform: translate3d(11vw, 15vw, 0);
  }
}
.stick-twelve {
  top: 35rem;
  left: 70vw;
  background-image: url("../img/bg-long-stick/long-stick-12.png");
  background-repeat: no-repeat;
  width: 250px;
  height: 340px;
  animation-name: stick-twelve;
  animation-duration: 22s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-twelve {
  0% {
    top: 35rem;
    right: 70vw;
  }
  100% {
    transform: translate3d(-6vw, -11vw, 0);
  }
}
.stick-thirteen {
  left: 32vw;
  bottom: 0;
  background-image: url("../img/bg-long-stick/long-stick-13.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 130px;
  animation-name: stick-thirteen;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-thirteen {
  0% {
    left: 32vw;
    bottom: 0;
  }
  100% {
    transform: translate3d(-13vw, -18vw, 0);
  }
}
.stick-fourteen {
  top: 670px;
  left: 36vw;
  background-image: url("../img/bg-long-stick/long-stick-14.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 205px;
  animation-name: stick-fourteen;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes stick-fourteen {
  0% {
    top: 670px;
    left: 36vw;
  }
  100% {
    transform: translate3d(-13vw, -18vw, 0);
  }
}
.stick-fifteen {
  top: -1rem;
  left: 14vw;
  background-image: url("../img/bg-long-stick/long-stick-15.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 205px;
}

* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
}

.container-main {
  margin: auto;
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
}

.button:hover {
  background: linear-gradient(118deg, #9982f3de 72.09%, #e58ee1de 352.57%);
}

@media (max-width: 768px) {
  .nav {
    display: flex;
  }

  .nav-wrapper {
    position: absolute;
    top: 60px;
    right: 2vw;
    display: none;
    flex-direction: column;
    gap: 6vh;
    background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
    padding: 22px;
    z-index: 8;
    filter: drop-shadow(7px 11px 15px rgba(0, 0, 0, 0.15));
  }

  .hamburger {
    display: grid;
    z-index: 10;
  }

  .line-top__animate {
    position: absolute;
    right: 5vw;
    top: 80px;
    transform: rotate(49deg);
    transition: top 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .line-middle__animate {
    display: none;
  }

  .line-bottom__animate {
    position: absolute;
    right: 5vw;
    top: 80px;
    transform: rotate(310deg);
    transition: bottom 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .logo-img {
    width: 100px;
  }

  .title {
    font-size: calc(24px + (36 + 36 * 0.7) * ((100vw - 320px) / 1500));
  }
}
@media (max-width: 576px) {
  .form-main {
    margin-top: 30px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .subtitle {
    margin-top: 30px;
  }

  .form-main__button {
    top: 80px;
    right: 100px;
  }

  .input-mail {
    padding: 0 30px 0 30px;
  }

  .form-main__button {
    left: 0;
    right: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
