* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container-main {
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
  transition: 2s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container-main {
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
  transition: 2s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

.header {
  padding-top: 40px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-img {
  width: 140px;
  transition: 2s;
}

.logo-img:hover {
  opacity: 0.5;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  padding: 0;
  margin: 0;
}

.nav-item {
  width: fit-content;
  list-style: none;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.291667px;
}

.nav-item__link:hover {
  color: #8468f5;
}

.nav-item__link:after {
  content: "";
  display: block;
  width: 0;
  transition: 0.5s;
  border-bottom: 2px solid #8468f5;
}

.nav-item__link:hover:after {
  content: "";
  width: 100%;
}

.nav-item__link-sing-in {
  padding: 10px 30px;
  background: linear-gradient(250.46deg, #8468F5 72.09%, #EC74E7 352.57%);
  border-radius: 13px;
  transition: 2s;
  color: #ffff;
}

.nav-item__link-sing-in:hover {
  opacity: 0.5;
}

.hamburger {
  display: none;
  height: 30px;
  width: 30px;
}

.line-bottom, .line-middle, .line-top {
  height: 3px;
  width: 30px;
  background: #ffff;
}

.line-top {
  display: flex;
  transition: top 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.9s cubic-bezier(0.23, 1, 0.32, 1);
}

.line-middle {
  display: flex;
}

.line-bottom {
  display: flex;
  transition: bottom 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.9s cubic-bezier(0.23, 1, 0.32, 1);
}

* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container-main {
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
  transition: 2s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

.section-main {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 220px;
}

.section-text {
  z-index: 100;
}

.title {
  font-size: calc(24px + 36 * (100vw / 1500));
  line-height: calc(24px + 36 * (100vw / 1500));
}
.title .title-violet {
  color: #8468f5;
}

.subtitle {
  margin-top: 50px;
  font-size: calc(10px + 10 * (100vw / 1500));
  line-height: calc(10px + 10 * (100vw / 1500));
  color: grey;
}

.form-main {
  position: relative;
  margin-top: 60px;
  width: 520px;
}

.input-mail {
  padding: 0 200px 0 30px;
  min-width: 100%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 30px;
  filter: drop-shadow(7px 11px 15px rgba(0, 0, 0, 0.15));
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #FFF inset;
}

.form-main__button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 30px 10px 30px;
}
.form-main__button a {
  color: #ffff;
}

.img-airplane {
  margin-left: 15px;
  width: 15px;
  height: 15px;
}

.section-parallax__wrapper {
  position: relative;
  height: 100%;
}

.parallax {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-ball {
  top: -225px;
  left: 20px;
  background-image: url("../img/parallax-img/bg-ball.png");
  width: 300px;
  height: 300px;
  z-index: 9;
}

.bg-ball-one {
  top: -80px;
  left: 850px;
  background-image: url("../img/parallax-img/bg-ball.png");
  width: 115px;
  height: 115px;
  z-index: 9;
}

.bg-cone {
  top: 235px;
  left: 630px;
  background-image: url("../img/parallax-img/bg-cone.png");
  width: 300px;
  height: 300px;
  z-index: 10;
}

.bg-big-ball {
  top: -240px;
  left: 430px;
  background-image: url("../img/parallax-img/big-big-bg-ball.png");
  width: 455px;
  height: 370px;
  z-index: 9;
}

.coffee-stand {
  top: 70px;
  left: 0;
  background-image: url("../img/parallax-img/coffee-stand.png");
  width: 590px;
  height: 470px;
  z-index: 10;
}

.coffee-stand-stripes {
  top: 34px;
  left: 710px;
  background-image: url("../img/parallax-img/coffee-stand-stripes.png");
  width: 300px;
  height: 320px;
  z-index: 10;
}

.cone {
  top: -75px;
  left: 675px;
  background-image: url("../img/parallax-img/cone.png");
  width: 360px;
  height: 400px;
  z-index: 10;
}

.glass {
  top: -80px;
  left: 280px;
  background-image: url("../img/parallax-img/glass.png");
  width: 410px;
  height: 540px;
  z-index: 10;
}

.little-cone {
  top: -235px;
  left: 470px;
  background-image: url("../img/parallax-img/little-cone.png");
  width: 100px;
  height: 125px;
  z-index: 10;
}

.long-stick-light-pink {
  background-image: url("../img/parallax-img/long-stick-light-pink.png");
  width: 520px;
  height: 540px;
  z-index: 9;
}

.long-stick-light-pink-zero {
  top: -160px;
  left: 175px;
}

.long-stick-light-pink-one {
  top: -270px;
  left: 190px;
}

.long-stick-dark {
  top: -220px;
  left: 180px;
  background-image: url("../img/parallax-img/long-stick-dark.png");
  width: 520px;
  height: 540px;
  z-index: 9;
}

.middle-ball {
  top: -100px;
  left: 0;
  background-image: url("../img/parallax-img/middle-ball.png");
  width: 250px;
  height: 210px;
  z-index: 11;
}

.semicircle {
  top: 145px;
  left: 525px;
  background-image: url("../img/parallax-img/semicircle.png");
  width: 415px;
  height: 260px;
  z-index: 10;
}

.small-ball {
  top: -235px;
  left: 345px;
  background-image: url("../img/parallax-img/small-ball.png");
  width: 90px;
  height: 140px;
  z-index: 10;
}

.the-ball {
  top: -180px;
  left: 640px;
  background-image: url("../img/parallax-img/the-ball.png");
  width: 300px;
  height: 300px;
  z-index: 10;
}

.the-big-ball {
  top: 95px;
  left: 0;
  background-image: url("../img/parallax-img/the-big-ball.png");
  width: 310px;
  height: 325px;
  z-index: 9;
}

.violet-cone {
  top: -68px;
  left: 0;
  background-image: url("../img/parallax-img/violet-cone.png");
  width: 260px;
  height: 350px;
  z-index: 10;
}

* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container-main {
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
  transition: 2s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

.footer {
  display: flex;
  justify-content: start;
  margin-top: 170px;
  padding-bottom: 60px;
}

.social-network {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.social-network__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: 2s;
  background: linear-gradient(250.46deg, #8468F5 72.09%, #EC74E7 352.57%);
}

.social-network__icon:hover {
  opacity: 0.6;
}

.icon-svg {
  width: 17px;
  height: 20px;
}

.icon-use {
  fill: #ffff;
}

* {
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
  color: #1d1c24;
}

body {
  background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
  background-size: cover, 100%;
}

.container {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.container-main {
  width: 92%;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 30px;
  border: none;
  background: linear-gradient(87.86deg, #EC74E7 -45.12%, #8468F5 74.37%);
  transition: 2s;
  cursor: pointer;
}

.button:hover {
  opacity: 0.5;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
  }

  .nav-wrapper {
    position: absolute;
    top: 60px;
    right: 2vw;
    display: none;
    flex-direction: column;
    gap: 6vh;
    background: linear-gradient(155.52deg, #F8C7C8 18.54%, #FAC1C2 24.61%, #FEB6B8 42.81%, #FFB2B4 61.01%, #DC939C 105.21%), no-repeat, center;
    padding: 22px;
    filter: drop-shadow(7px 11px 15px rgba(0, 0, 0, 0.15));
    z-index: 20;
  }

  .hamburger {
    display: grid;
    z-index: 25;
  }

  .line-top__animate {
    position: absolute;
    right: 5vw;
    top: 80px;
    transform: rotate(49deg);
    transition: top 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .line-middle__animate {
    display: none;
  }

  .line-bottom__animate {
    position: absolute;
    right: 5vw;
    top: 80px;
    transform: rotate(310deg);
    transition: bottom 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .logo-img {
    width: 100px;
  }

  .title {
    font-size: calc(24px + (36 + 36 * 0.7) * ((100vw - 320px) / 1500));
  }
}
@media (max-width: 576px) {
  .form-main {
    margin-top: 30px;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .subtitle {
    margin-top: 30px;
  }

  .form-main__button {
    top: 80px;
    right: 100px;
  }

  .input-mail {
    padding: 0 30px 0 30px;
  }

  .form-main__button {
    left: 0;
    right: 0;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
