@import "../settings";
@import "../variables";

.header {
  padding-top: 40px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.logo-img {
  width: 140px;
  transition: $transition2;
}

.logo-img:hover {
  opacity: 0.5;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  padding: 0;
  margin: 0;
}

.nav-item {
  width: fit-content;
  list-style: none;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.291667px;

}

.nav-item__link:hover {
  color: $violet-color;
}

.nav-item__link:after {
  content: "";
  display: block;
  width: 0;
  transition: 0.5s;
  border-bottom: 2px solid $violet-color;
}

.nav-item__link:hover:after {
  content: "";
  width: 100%;
}

.nav-item__link-sing-in {
  padding: 10px 30px;
  background: $violet-gradient;
  border-radius: 13px;
  transition: $transition2;
  color: $white;
}

.nav-item__link-sing-in:hover {
  opacity: 0.5;
}

.hamburger {
  display: none;
  height: 30px;
  width: 30px;
}

.line-bottom, .line-middle, .line-top {
  height: 3px;
  width: 30px;
  background: $white;
  transition: $transition2;
}

.line-top {
  display: flex;
}

.line-middle {
  display: flex;
}

.line-bottom {
  display: flex;
}