@import "../settings";
@import "../variables";


.long-stick {
  position: absolute;
  z-index: -1;
}

.stick-one {
  top: 540px;
  left: 25vw;
  background-image: url("../img/bg-long-stick/long-stick-1.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  animation-name: example;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;

}

@keyframes example {
  0% {
    //margin: 0;
    top: 540px;
    left: 25vw;
  }

  40%{
    transform: translate3d(-425px, -25vw, 0);

  }
  100% {
    //margin: 100vh;
    transform: translate3d(440px, 25vw, 0);
  }
}

.stick-two {
  top: 590px;
  left: 38vw;
  background-image: url("../img/bg-long-stick/long-stick-2.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
}

.stick-three {
  top: 270px;
  left: -22px;
  background-image: url("../img/bg-long-stick/long-stick-3.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
}


.stick-four {
  top: 300px;
  left: 0;
  background-image: url("../img/bg-long-stick/long-stick-4.png");
  background-repeat: no-repeat;
  width: 45px;
  height: 200px;
}

.stick-five {
  top: 0;
  left: 15vw;
  background-image: url("../img/bg-long-stick/long-stick-5.png");
  background-repeat: no-repeat;
  width: 250px;
  height: 290px;

}

.stick-six {
  top: 510px;
  left: 23vw;
  background-image: url("../img/bg-long-stick/long-stick-6.png");
  background-repeat: no-repeat;
  width: 65px;
  height: 85px;
}

.stick-seven {
  top: 0;
  right: 0;
  background-image: url("../img/bg-long-stick/long-stick-7.png");
  background-repeat: no-repeat;
  width: 250px;
  height: 200px;
}

.stick-eight {
  top: 0;
  right: 55vw;
  background-image: url("../img/bg-long-stick/long-stick-8.png");
  background-repeat: no-repeat;
  width: 130px;
  height: 100px;
}


.stick-nine {
  top: 0;
  left: 20vw;
  background-image: url("../img/bg-long-stick/long-stick-9.png");
  background-repeat: no-repeat;
  width: 190px;
  height: 100px;
}

.stick-ten {
  top: 10rem;
  right: 35vw;
  background-image: url("../img/bg-long-stick/long-stick-10.png");
  background-repeat: no-repeat;
  width: 80px;
  height: 60px;
}

.stick-eleven {
  top: 160px;
  left: 30px;
  background-image: url("../img/bg-long-stick/long-stick-11.png");
  background-repeat: no-repeat;
  width: 55px;
  height: 70px;
}

.stick-twelve {
  top: 45rem;
  left: 75vw;
  background-image: url("../img/bg-long-stick/long-stick-12.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
  transform: rotate(180deg);
}

.stick-thirteen {
  left: 32vw;
  bottom: 0;
  background-image: url("../img/bg-long-stick/long-stick-13.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 130px;
}

.stick-fourteen {
  top: 670px;
  left: 36vw;
  background-image: url("../img/bg-long-stick/long-stick-14.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 205px;
}

.stick-fifteen {
  top: 0;
  left: 14vw;
  background-image: url("../img/bg-long-stick/long-stick-15.png");
  background-repeat: no-repeat;
  width: 150px;
  height: 170px;
}

