@import "../settings";
@import "../variables";

.section-main {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin-top: 220px;
}

.section-text {
  z-index: 90;
}

.title {
  font-size: calc(24px + 36 * (100vw / 1500));
  line-height: calc(24px + 36 * (100vw / 1500));

  .title-violet {
    color: $violet-color;
  }
}

.subtitle {
  margin-top: 50px;
  font-size: calc(10px + 10 * (100vw / 1500));
  line-height: calc(10px + 10 * (100vw / 1500));
  color: grey;
}

.form-main {
  position: relative;
  margin-top: 60px;
  width: 520px;
}

.input-mail {
  padding: 0 200px 0 30px;
  min-width: 100%;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 30px;
  filter: drop-shadow(7px 11px 15px rgba(0, 0, 0, 0.15));
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #FFF inset;
}


.form-main__button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 30px 10px 30px;

  a {
    color: $white;
  }

}

.img-airplane {
  margin-left: 15px;
  width: 15px;
  height: 15px;
}

.section-parallax__wrapper {
  position: relative;
  height: 100%;
}

.parallax {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.bg-ball {
  top: -225px;
  left: 20px;
  background-image: url("../img/parallax-img/bg-ball.png");
  width: 300px;
  height: 300px;
  z-index: 9;
}

.bg-ball-one {
  top: -80px;
  left: 850px;
  background-image: url("../img/parallax-img/bg-ball.png");
  width: 115px;
  height: 115px;
  z-index: 9;
}

.bg-cone {
  top: 235px;
  left: 630px;
  background-image: url("../img/parallax-img/bg-cone.png");
  width: 300px;
  height: 300px;
  z-index: 10;
}

.bg-big-ball {
  top: -240px;
  left: 430px;
  background-image: url("../img/parallax-img/big-big-bg-ball.png");
  width: 455px;
  height: 370px;
  z-index: 9;
}

.coffee-stand {
  top: 70px;
  left: 0;
  background-image: url("../img/parallax-img/coffee-stand.png");
  width: 590px;
  height: 470px;
  z-index: 10;
}

.coffee-stand-stripes {
  top: 34px;
  left: 710px;
  background-image: url("../img/parallax-img/coffee-stand-stripes.png");
  width: 300px;
  height: 320px;
  z-index: 10;
}

.cone {
  top: -75px;
  left: 675px;
  background-image: url("../img/parallax-img/cone.png");
  width: 360px;
  height: 400px;
  z-index: 10;
}

.glass {
  top: -80px;
  left: 280px;
  background-image: url("../img/parallax-img/glass.png");
  width: 410px;
  height: 540px;
  z-index: 10;
}

.little-cone {
  top: -235px;
  left: 470px;
  background-image: url("../img/parallax-img/little-cone.png");
  width: 100px;
  height: 125px;
  z-index: 10;
}

.long-stick-light-pink {
  background-image: url("../img/parallax-img/long-stick-light-pink.png");
  width: 520px;
  height: 540px;
  z-index: 9;
}

.long-stick-light-pink-zero {
  top: -160px;
  left: 175px;
}


.long-stick-light-pink-one {
  top: -270px;
  left: 190px;
}

.long-stick-dark {
  top: -220px;
  left: 180px;
  background-image: url("../img/parallax-img/long-stick-dark.png");
  width: 520px;
  height: 540px;
  z-index: 9;
}

.middle-ball {
  top: -100px;
  left: 0;
  background-image: url("../img/parallax-img/middle-ball.png");
  width: 250px;
  height: 210px;
  z-index: 11;
}

.semicircle {
  top: 145px;
  left: 525px;
  background-image: url("../img/parallax-img/semicircle.png");
  width: 415px;
  height: 260px;
  z-index: 10;
}

.small-ball {
  top: -235px;
  left: 345px;
  background-image: url("../img/parallax-img/small-ball.png");
  width: 90px;
  height: 140px;
  z-index: 10;
}

.the-ball {
  top: -180px;
  left: 640px;
  background-image: url("../img/parallax-img/the-ball.png");
  width: 300px;
  height: 300px;
  z-index: 10;
}

.the-big-ball {
  top: 95px;
  left: 0;
  background-image: url("../img/parallax-img/the-big-ball.png");
  width: 310px;
  height: 325px;
  z-index: 9;
}

.violet-cone {
  top: -68px;
  left: 0;
  background-image: url("../img/parallax-img/violet-cone.png");
  width: 260px;
  height: 350px;
  z-index: 10;
}